[project]
	description = Docker-based Development Environment for Linux and Mac OS X
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gebhard Wöstemeyer (gewo)
[access "refs/for/refs/*"]
	read = group user/Gebhard Wöstemeyer (gewo)
	push = group user/Gebhard Wöstemeyer (gewo)
	label-Code-Review = -2..+2 group user/Gebhard Wöstemeyer (gewo)
	label-Verified = -1..+1 group user/Gebhard Wöstemeyer (gewo)
	rebase = group user/Gebhard Wöstemeyer (gewo)
	removeReviewer = group user/Gebhard Wöstemeyer (gewo)
	submit = group user/Gebhard Wöstemeyer (gewo)
[access "refs/heads/*"]
	read = group user/Gebhard Wöstemeyer (gewo)
	create = group user/Gebhard Wöstemeyer (gewo)
	push = +force group user/Gebhard Wöstemeyer (gewo)
	pushMerge = group user/Gebhard Wöstemeyer (gewo)
[access "refs/tags/*"]
	push = +force group user/Gebhard Wöstemeyer (gewo)
	pushTag = group user/Gebhard Wöstemeyer (gewo)
	pushSignedTag = group user/Gebhard Wöstemeyer (gewo)
